@import '../../colors.css';

.live-market-item {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr .8fr;
    gap: 1rem;
}

.icon-coin,
.change-rate,
.price,
.coin-currency {
    display: flex;
}


.change-rate,
.price,
.coin-currency {
    flex-direction: column;
}


.price,
.coin-currency {
    align-items: flex-start;
}

.change-rate, .icon-coin {
    align-items: center;
}

.change-rate, .price {
    justify-content: center;
}

.icon-coin {
    gap: 1rem;
}

.light-text {
    color: var(--gray);
    font-size: 400;
    font-size: .8rem;
}