@import '../../colors.css';

.live-market-item {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: 1rem;
    align-items: center;
}

.live-market-item .left-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    gap: 1rem;
}

.icon-coin,
.change-rate,
.price,
.coin-currency,
.coin-change-rate,
.price-graph {
    display: flex;
}


.change-rate,
.price,
.coin-currency {
    flex-direction: column;
}


.price,
.coin-currency {
    align-items: flex-start;
}

.change-rate, .icon-coin {
    align-items: center;
}

.change-rate, .price {
    justify-content: center;
}

.icon-coin {
    gap: 1rem;
}

.light-text {
    color: var(--gray);
    font-weight: 400;
    font-size: .8rem;
}

.overview-wrapper .dashboard-container .line-graph {
    height: 60px;
    width: 100%;
}